{{#each beersArr}}
    {{!-- 
    <div><img src="{{this.image_url}}" width="120px">
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p> 
    </div>--}}
    {{>beerpartial this}}
{{/each}}