<div id="index">
 <img src="/images/beer.png" alt="beer picture">
 <div id="buttons">
    <a href="/beers"><button>Check the Beers!</button></a>
    <a href="/random-beer"><button>Check a Random Beer!</button></a>
 </div>
</div>